@import 'https://fonts.googleapis.com/css?family=Roboto:300,400,500';

html {
  max-width: 70ch;
  padding: 0 1em;
  margin: 0 auto;
  line-height: 1.75;
  font-size: 1.25em;
}

body {
  color: #566b78;
  font-family: "Roboto", "Helvetica", "Arial", sans-serif;
}

header {
  line-height: 1.2;
  margin: 1em;
  text-align: center;
}

header h1 {
  padding: 0.5em;
  color: white;
  background-color: #263d36;
  font-size: 2.5em;
  font-weight: 300;
}

main {
  display: block;
}

h1,h2,h3,h4,h5,h6 {
  margin: 1em;
}

p,ul,ol {
  margin-bottom: 2em;
  color: #1d1d1d;
  font-family: sans-serif;
}

code, pre {
  padding: 2em;
  text-align: left;
  background: #f5f7f9;
  border-bottom: 1px solid #d8dee9;
  color: #a7adba;
}

code {
  padding: 2px 4px;
  vertical-align: text-bottom;
}

pre {
  border-left: 2px solid #69c;
  padding : 1em;
}